{:kotoba.app/id "cloud.itonami.isic-2660", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihuqjbvbyv26k2mag4lyle32wqxsyya5uvlbstclfbxjeaccmubse", :kotoba.app/embed-url "ipfs://bafkreihuqjbvbyv26k2mag4lyle32wqxsyya5uvlbstclfbxjeaccmubse", :published {:archive "https://kotobase.net/ipfs/bafkreihuqjbvbyv26k2mag4lyle32wqxsyya5uvlbstclfbxjeaccmubse", :size 72503, :put-status 201, :get-status 200, :at "2026-08-15T13:33:46.978Z"}}
